body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.left-panel {
    display: flex;
    min-width: 35%;
    height: auto;
    background-image: url(resources/coffee.jpg);
    background-position: center;
    background-size: cover;
}
.right-panel {
    display: flex;
    padding: 5%;
}

.right-panel > .CTA-text {
    padding-top: 5%;
    font-size: 2rem;
}