* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    font-size: 10px;
    line-height: 1.3;
}

.left-panel {
    display: flex;
    flex-direction: column;

    min-width: 35%;
    height: auto;

    background-image: url(resources/esra-afsar-kMbPmaBwjUQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.left-panel > .logo-container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 17vh;
    width: 100%;
    height: 20vh;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 2rem;
}
 
.logo {
    width: 10vw;
 }

.right-panel {
    display: flex;
    flex-direction: column;

    background-color: blanchedalmond;
}

.right-panel > .CTA-text {
    padding-top: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    
    font-size: calc(.5rem + 1.5vw);
    background-color: rgb(252, 212, 180);
    color: rgb(0, 0, 0);
}

.form {
    
}

.ldt {
    padding-left: 5%;
    font-size: calc(1rem + 1vw);
}

.speaker-form {
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: calc(1rem + 1.5vw);
    justify-content: center;
  }

.form-left-section,
.form-right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(.2rem + 1vw);
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: .5vw;
    font-size: calc(.5rem + 0.8vw);
    min-width: auto;
  }

.lower {
    padding-left: 5%;
 } 

.lowerlower {
    display: flex;
    align-items: center;
    gap: .25vw;
    font-size: calc(.1rem + 1vw);
  }

.button-click {
    width:  20vw;
    height: 8vh;
    font-size: calc(.6rem + 1vw);
}

.speaker-form input[type='text'],
.speaker-form input[type='email'],
.speaker-form input[type='password'],
.speaker-form input[type='number'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: calc(.5rem + 0.8vw);
}

@media only screen and (max-width 700px) {
    
}